<!DOCTYPE HTML>
<html lang="en-US">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1/styles/main.css" media="all">
    <title> {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright {{ year }} VoidDev
        <script data-main="http://127.0.0.1/scripts/main" src="http://127.0.0.1/scripts/lib/require.js"></script>
        {% endblock %}
    </div>
</body>