*
  margin: 0
  padding: 0
  font-family: 'sans-serif'

#content
  width: 100%
  text-align: center

#content
  margin-top: 25px

h1
  font-size: 50px
  font-family: 'Helvetica', 'sans-serif'
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8)
  -webkit-transition: -webkit-transform 0.2s
  -moz-transition: -moz-transform 0.2s
  -o-transition: -o-transform 0.2s
  -ms-transition: -ms-transform 0.2s
  transition: transform 0.2s

h1:hover
  -webkit-transform: rotate(3deg)
  -moz-transform: rotate(3deg)
  -o-transform: rotate(3deg)
  -ms-transform: rotate(3deg)
  transform: rotate(3deg)

#canvas
  border: 1px #000 solid
  border-radius: 5px
  box-shadow: 0 0 10px #000
  display: block
  margin: 20px auto 0 auto
  -webkit-transition: box-shadow 0.5s
  -moz-transition: box-shadow 0.5s
  -o-transition: box-shadow 0.5s
  -ms-transition: box-shadow 0.5s
  transition: box-shadow 0.5s

#canvas:hover
  box-shadow: 0 0 20px #000

#footer
  font-size: 8px
  font-family: 'sans-serif'
  margin-top: 20px
  text-align: center
  text-shadow: 0 0 2px rgba(0,0,0,0.8)
  width: 100%
