@import nib

global-reset()

#content
	width: 100%
	text-align: center
	margin-top: 25px

h1
	font-size: 50px
	font-family: 'Helvetica', 'sans-serif'
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8)
	transition transform 0.2s
	&:hover
		transform: rotate(3deg)

#canvas
	border: 1px #000 solid
	border-radius: 5px
	box-shadow: 0 0 10px #000
	display: block
	margin: 20px auto 0 auto
	transition: box-shadow 0.5s
	&:hover
		box-shadow: 0 0 20px #000

#footer
	font-size: 8px
	font-family: 'sans-serif'
	margin-top: 20px
	text-align: center
	text-shadow: 0 0 2px rgba(0,0,0,0.8)
	width: 100%
